
HelloWorld/.vs/HelloWorld/v17/ipch/AutoPCH/89e311ba36e8bc15/HELLOWORLD.ipch
HelloWorld/.vs/HelloWorld/v17/Browse.VC.opendb
HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-wal
HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-shm
HelloWorld/.vs/HelloWorld/v17/Browse.VC.db
HelloWorld/.vs/HelloWorld/v17/.suo
HelloWorld/HelloWorld.sln
HelloWorld/HelloWorld.vcxproj
HelloWorld/HelloWorld.vcxproj.filters
HelloWorld/HelloWorld.vcxproj.user
HelloWorld/x64/Debug/HelloWorld.exe
HelloWorld/x64/Debug/HelloWorld.exe.recipe
HelloWorld/x64/Debug/HelloWorld.ilk
HelloWorld/x64/Debug/HelloWorld.log
HelloWorld/x64/Debug/HelloWorld.obj
HelloWorld/x64/Debug/HelloWorld.pdb
HelloWorld/x64/Debug/HelloWorld.tlog/CL.command.1.tlog
HelloWorld/x64/Debug/HelloWorld.tlog/CL.read.1.tlog
HelloWorld/x64/Debug/HelloWorld.tlog/CL.write.1.tlog
HelloWorld/x64/Debug/HelloWorld.tlog/HelloWorld.lastbuildstate
HelloWorld/x64/Debug/HelloWorld.tlog/link.command.1.tlog
HelloWorld/x64/Debug/HelloWorld.tlog/link.read.1.tlog
HelloWorld/x64/Debug/HelloWorld.tlog/link.write.1.tlog
HelloWorld/x64/Debug/HelloWorld.vcxproj.FileListAbsolute.txt
HelloWorld/x64/Debug/vc143.idb
HelloWorld/x64/Debug/vc143.pdb
HelloWorld/.vs/HelloWorld/v17/ipch/AutoPCH/4330a68f383f06a0/DATATYPES.ipch
HelloWorld/.vs/HelloWorld/FileContentIndex/04ac0932-9552-48aa-b44b-85415a9c9ff7.vsidx
HelloWorld/.vs/HelloWorld/FileContentIndex/read.lock
HelloWorld/.vs/slnx.sqlite
*.vsidx
*.vsidx
HelloWorld/.vs/HelloWorld/FileContentIndex/305e2a9e-c949-450e-9d77-3b2c07c09819.vsidx
